<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body style="background-color: rgb(53, 46, 103); color: white; text-align: center;">
  <h1>Admin Login</h1>
  <div style="margin: auto; border: 1px solid black; width: 25%; margin-top: 10px; border-radius: 10px;">
    <form action="/add"  method="post" style="gap: 10px; padding: 20px">
      <label for="">Name:</label>
      <input type="text" name="name" id="one" placeholder="Enter username"><br><br>
      <label for="">Password:</label>
      <input type="password" placeholder="Enter Your Password" name="password" id="one"><br>
      <br>
      <button style="background-color: blue; color: white; border-radius: 5px;" type="submit" >Submit</button>
    </form>
  </div>
</body>
</html>